html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1{
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: font1;
  src: url(font1.otf);
  display: block;
  margin: auto;
  padding-top: 30px;
}

canvas {
  display: block;
}
